:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #021329;

 
}
#root{
  min-height: 100vh;
  width: 100%;
  position: relative;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  
 
}





